$font-family:   "Roboto";
$font-size:     14px;

$color-primary: #ABA194;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
    height: 200vh
}

.user, .contest, .training, #user_props {
    width: 90%;
    max-width: 850px;
    margin: 10vh auto;
}

.user__header, .contest__header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title, .contest__title {
    font-size: $font-size;
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}

.form {	
	width: 650px; 
    margin-top: 40px;
    margin-left: 101px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.form__input {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
    
    &:focus {
        background: darken(#fff, 3%);
    }
}

.form__group, #first_name, #second_name, #last_name, #country, #login, #email, #password, #corporate {
	border: 0.2px lightblue solid; 
}

#affiliation, #affiliated_status, #site_url, #teach_experience, #spec, #language, #account, #city, #background, #portfolio {
	border: 0.2px lightblue solid;
}

#title_input, #specialization_input, #annotation_input, #quota_input, #start_input, #end_input, #location_input, #level_input, #prerequisites_input, #reg_open_input {
	border: 0.2px lightblue solid;
} 

#duration_input, #price_input, #cert_option_input, #free_input, #item_input, #total-sum-label {
	border: 0.2px lightblue solid;
}

.btn {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: $color-primary;
    transition: 0.3s;
    
    &:hover {
        background: darken($color-primary, 5%);
    }
}

.dropdown-auth {
	margin: 0 auto; 
}

.spec1 {
	width: 280px;
	height: 50px; 	
}

.dropdown-menu {
	width: 100%;	
}

option {
	width: 700px;
}

#visitor_input, #organiser_input, #contest_input, #spec_input, #trainer_input, #item_input {
	width: 700px;
	border: 0.2px lightblue solid;
}

#payer_acc_input, #recip_acc_input, #method_input, #bank_input, #resolve_date_input {
	width: 700px;
	border: 0.2px lightblue solid;
}

#item-selected {
	width: 650px;
	background: white;
	font-size: 18px;
	border: 0.2px lightblue solid;
	
	text-align: center;	
}


.total-sum-figure {
	width: 30%;
	height: 100%;
	background: white;
	border: 0.2px lightblue solid;
	font-size: 20px;
	text-align: center;	
}

.sum-block {
	display: inline-block;
}

@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}


